@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Noto+Nastaliq+Urdu&family=Tangerine:wght@700&display=swap');

*{
    margin:0;
    padding:0;
    border: none;
}

body {
    font-family:EB Garamond, sans-serif;
    font-weight:300;
    color:#000;
}

/* heading and logo */

h1.h2 {
    font-family: 'Tangerine', cursive; 
    font-weight: 700;
    color:#000;
    letter-spacing: 4px;
    }

    #logo{
        float: left;
        font-size: 280%;
        margin-left: 30px;
    }

    /* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit; 
}

#menu a:hover {
    border-bottom: 1px solid #0a0303;
}

.active {
    border-bottom: 1px solid #0a0303;
}

/* hero-image and video */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#video {
    width: 200px;
    height: 150px;
    position: absolute;
    padding-left:20px;
    padding-top: 40px;
    right:250px;
    bottom: 30px;
    transform: translate(-50%,-50%);
}


#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-img/heroimage.jpg') no-repeat center center;

    /* animates zoom effect on loading page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    }
    
 /* creates animation zoom effect for hero image */

 @keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}

/* introduction */

h2 {
    font-family:EB Garamond, sans-serif;
    font-weight:300%;
    color:#0a0303;
    font-size: 50px;
    margin-left:5%;
    margin-top: 5%;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: #4c4b4b;
    line-height: 28px;
    letter-spacing: 1px;
    margin-left: 10%;
    margin-right: 10%;
    }

     /* footer */
     footer {
        height:150px;
    }
    .social-networks {
        text-align: center;
    }

    .social-networks > li {
        display: inline;
    }
    .social-networks i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
        color:#3a3a3a;
    }
/* chariots photos */

#chariots {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#chariots > img {
    width: 100%;
}

/* iron chariots details */

#iron-chariots {
    clear: both;
    padding: 20px 10px 10px 10px;
    text-align: center;
    font-size: 80px;
    color: #0a0303;
}
#chariots-details {
    clear: both;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Noto Nastaliq Urdu', serif;
    color: #0a0303;
    text-justify: auto;
    direction: rtl !important;
    font-size: 17px !important;
    float: right;
}

/* Media queries */

/* for larger to medium screen size for 1200px wide and down */
@media screen and (max-width: 1200px) {
    #introduction{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    h2 {
        padding: 30px 0;
        margin: 0;
    }
    p {
        width: 100%;
        float: left;
        padding: 0;
    }
    hr {
        display: none;
    }
}

/* for medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {
   #logo {
    font-size: 50px;
    text-align: center;
   }

    #menu {
        clear: left;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 12px;
    }
    #video {
        width: 200px;
        height: 150px;
        position: absolute;
        padding-left: 20px;
        padding-top: 40px;
        right: 150px;
        bottom: 30px;
        transform: translate(-50%,-50%);
    }

    #introduction {
        width: 90%;
        height: 1200px;
        margin-right: 60px;
        text-align: left;
    }

    h2 {
        width: inherit;
        text-align: center;
    }
    #chariots {
        column-count: 3;
    }    
}

@media screen and (max-width: 800px) {
    #chariots {
        column-count: 2;
    }
}

